# 🐍 Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# 🗄️ Base de datos
*.db

# ⚛️ Node / React
node_modules/
dist/
build/

# 🧪 Logs
*.log

# 🔐 Env vars
.env

# 🐳 Docker (opcional)
*.tar

# 🧠 OS
.DS_Store
Thumbs.db