# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/

# Node
node_modules/
npm-debug.log*

# Base de datos local (no incluir en imagen Docker)
*.db

# Misc
.git/
.gitignore
README.md
*.http